{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2020": true,
    "jest": true
  },
  "extends": ["airbnb-base", "plugin:import/errors", "plugin:import/warnings", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "allowImportExportEverywhere": true,
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ],
    "import/no-extraneous-dependencies": ["off"],
    "import/extensions": ["off", "always"],
    "import/no-unresolved": "off",
    "class-methods-use-this": "off",
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-constructor-return": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-plusplus": "off",
    "func-names": "off",
    "max-classes-per-file": "off"
  }
}
